$color-pink: #ED5D90;
$color-black: #000000;
$color-pink-hover: #A7385F;
$color-light-brown:#E0AF78;
$color-white: #FFFFFF;
$color-brown: #614B34;
$color-background: #F9F5F2;

$fontsize-small: 0.75rem;
$fontsize-subtitle: 1.25rem;
$fontsize-text: 1rem;
$fontsize-title-lg: 3rem;
$fontsize-title-md: 2.6rem;
$fontsize-title-sm: 1.6rem;
$fontsize-icon: 2rem;
$fontsize-text-lg: 1rem;
$fontsize-text-md: .8rem;
$fontsize-text-sm: .6rem;
$fontsize-h3-lg: 2rem;
$fontsize-h3-md: 1.5rem;
$fontsize-h3-sm: 1rem;






@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css');


  /*---------------------------------------/*
   # SETTINGS
  /*---------------------------------------*/

  .titel-h2{
    font-family: 'Martel', serif;;
    font-weight: 600;
  }
  
  .titel-h2__white{
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
  
  .titel-h3{
    font-family: 'Martel', serif;;
    font-weight: 500;
  }
  
  /*---------------------------------------/*
   # GENERIC - BOOTSTRAP
   
  /*---------------------------------------*/
  .nav-link{
    color: $color-white;
  }
  
  .navbar-nav{
    --bs-nav-link-hover-color:none;
  }
  
  
  .nav-link__active {
    color: $color-background !important;
    border-bottom: .1rem $color-white solid;
    font-weight: 700;
  }
  
  .nav-link__logo {
    font-size: 1.5rem;
  }
    
  .c-carousel__image{
    width: 100%;
    height: 100%;
  }
  
  .carousel-control-next{
    opacity: 100;
  }
  
  .carousel-control-prev{
    opacity: 100;
  }
  
  .carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    height: 3rem;
    width: 3rem;
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
    height: 3rem;
    width: 3rem;
  }
    
  .c-carousel__titel{
    font-family: 'Martel', serif;;
    color: $color-brown;
    font-weight: 800;
    font-size:5rem ;
  }
  
  .c-carousel__titel--wrapper{
    display: flex;
    align-self: center;
  }

  .modal-image{
    width: 20%;
  }
  
  .modal-title{
    text-align: center;
  }
  
  .modal-body{
    text-align: center;
    padding: 0;
  }
  
  .modal-footer{
    border: 0;
    justify-content: center;
    padding: 0;
  }
  
  .btn-modal{
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: $color-pink;
    border: 0;
  }
  
  .btn-modal:hover{
    background-color: $color-pink-hover;
  }
  
  .modal-header{
    border: 0;
    padding: 0;
    margin-top: 1rem;
  }
  
  .form-control-sm{
    border-color: $color-brown;
    border-width: .1rem;
  }

  .badge{
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: $color-pink;
  }

  .card-img-top{
    margin-top: 1rem;
    border-radius: 0;
  }
  
  .card{
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: $color-brown;
    border-radius: 0;
    border-width: .1rem;
  }

  /*---------------------------------------/*
   # elements
  /*---------------------------------------*/

  body{
    background-color: $color-background;
  }

  p{
    font-family: 'Nunito Sans', sans-serif;;
    font-weight: 300;
  }

  footer, a{
    color: $color-white;
  }

  ul{
    padding-left: 0;
  }
  /*---------------------------------------/*
   # Components
   
  /*---------------------------------------*/

.hidden{
    display: none;
}

.c-nav{
    background-color: $color-brown;
    color: $color-white;
    font-family: 'Martel', serif;;
    font-weight: 300;
}

.c-assortiment__image{
  width: 85%;
  height: 85%;

  &--taart{
    width: 88%;
    height: 85%;
  }

  &--brood{
    width: 93%;
    height: 85%;
  }
  
  &--ontbijtkoeken{
    width: 75%;
    height: 85%;
  }

  &--stokbrood{
    width: 85%;
    height: 85%;
  }
}

.c-container__assort{
  margin-bottom: 2rem;
}

.c-assortiment__imagewrap--asspage{
  margin-bottom: 2rem;
}

.c-assortiment__buttonwrap{
  display: flex;
  justify-content: center;
}

.button{
  background-color: $color-pink;
  color: $color-white;
  border: none;
  border-radius: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  text-align: center;

  &__section{
  background-color: $color-pink;
  color: $color-white;
  border: none;
  border-radius: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  text-align: center;

  &__form{
    background-color: $color-pink;
    color: $color-white;
    border: none;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: .2rem;
    margin-top: .5rem;
  }
}
}

.link{
  text-decoration: none;
}

.button:hover{
  background-color: $color-pink-hover;
}

.button__form:hover{
  background-color: $color-pink-hover;
}


.c-opening{
  margin-top: 7rem;
  background: $color-brown;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 7rem;
  color: $color-white;

  &__uren{
    display: flex;
    justify-content: center;
  }
  &__locatie{
    display: flex;
    justify-content: center;
  }
}

.c-promo{
  color: $color-white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  
  &__background{
    background-color: $color-brown;
  }

  &__badge{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
  }
  &__image--flower{
    position: absolute;
     object-fit: cover;
     z-index: +1;
     margin-top: -10rem;
  }

  &__image{
    width: 100%;
  }
}

.c-patisserie{
  margin-bottom: 7rem;
  
  &__image{
    width: 95%;
  }
  &__button{
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.c-vragen__buttonwrap{
  margin-bottom: 6rem;
}

.c-vragen__button{
  width: 100%;
}

.c-team__header{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.c-team__image{
  width: 90%;
}

.c-geschiedenis{
  margin-top: 7rem;
  margin-bottom: 7rem;
 
  &__image{
    width: 70%;
  }
}


.c-patisserie__card{
  margin-bottom: 5rem;
}

.c-patisserie__titel{
  margin-top: 5rem;
}

.c-pattiserie__image--detail{
  width: 100%;
}


.input{
  width: 100%;
}

.input-tekst{
  width: 100%;
}

.c-nieuwsbrief{
  margin-bottom: 3rem;
}

.c-nieuwsbrief__input--naam{
  margin-bottom: 1rem;
}

.c-nieuwsbrief__input--email{
  margin-bottom: .5rem;
}

.c-contactgegevens__input{
  margin-bottom: 1rem;
}

.openingsuren-contact{
  width: 100%;
}


.c-openingsuren__map{
  padding: 1rem;

  &--wrapper{
    border: #614B34 .2rem solid;
  }
}

.openingsuren__list{
  list-style-type: none;
}

.img-fluid{
  height: 100%;
}

.c-footer{
  background-color: $color-brown;
  color: $color-white;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*  
Mediaqueries voor scaling
*/

@media (min-width: 992px) {
  .titel-h2 {
    font-size: $fontsize-title-lg;
  }
}
@media (max-width: 768px) {
  .titel-h2{
    font-size: $fontsize-title-md;
  }
}

@media (max-width: 576px) {
  .titel-h2{
    font-size: $fontsize-title-sm;
  }
}

@media (min-width: 992px) {
  .titel-h2__white{
    font-size: $fontsize-title-lg;
  }
}
@media (max-width: 768px) {
  .titel-h2__white{
    font-size: $fontsize-title-md;
  }
}

@media (max-width: 576px) {
  .titel-h2__white{
    font-size: $fontsize-title-sm;
  }
}
@media (min-width: 992px) {
  p{
    font-size: $fontsize-text-lg;
  }
}
@media (max-width: 768px) {
  p{
    font-size: $fontsize-text-md;
  }
}

@media (max-width: 576px) {
  p{
    font-size: $fontsize-text-sm;
  }
}

@media (min-width: 992px) {
  li{
    font-size: $fontsize-text-lg;
  }
}
@media (max-width: 768px) {
  li{
    font-size: $fontsize-text-md;
  }
}

@media (max-width: 576px) {
  li{
    font-size: $fontsize-text-sm;
  }
}

@media (min-width: 992px) {
  .c-promo__text{
    font-size: 2rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}
@media (max-width: 768px) {
  .c-promo__text{
    font-size: 1.5rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}

@media (max-width: 576px) {
  .c-promo__text{
    font-size: .8rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}
@media (min-width: 992px) {
  .footer-title{
    font-size: 2rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}
@media (max-width: 768px) {
  .footer-title{
    font-size: 1.5rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}

@media (max-width: 576px) {
  .footer-title{
    font-size: 1rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}
@media (max-width: 1500px) {
  .button__section{
    font-size: .9rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
    width: 50%;
  }
}
@media (max-width: 992px) {
  .button__section{
    font-size: .9;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .button__section{
    font-size: .5rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
    width: 60%;
  }
}

@media (max-width: 576px) {
  .button__section{
    font-size: .3rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
    width: 60%;
  }
}

@media (min-width: 992px) {
  .button{
    font-size: 1.1rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}
@media (max-width: 768px) {
  .button{
    font-size: 1rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}

@media (max-width: 576px) {
  .button{
    font-size: .4rem;
    font-family: 'Martel', serif;;
    font-weight: 600;
    color: $color-white;
  }
}
@media (min-width: 992px) {
  h3{
    font-size: $fontsize-h3-lg;
  }
}
@media (max-width: 768px) {
  h3{
    font-size: $fontsize-h3-md;
  }
}

@media (max-width: 576px) {
  h3{
    font-size: $fontsize-h3-sm;
  }
}
@media (min-width: 992px) {
  .form-control-sm{
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .form-control-sm{
    font-size: .8rem;
  }
}

@media (max-width: 576px) {
  .form-control-sm{
    font-size: .6rem;
  }
}
@media (min-width: 992px) {
  label{
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  label{
    font-size: .8rem;
  }
}

@media (max-width: 576px) {
  label{
    font-size: .6rem;
  }
}

@media (min-width: 360px) {
  .c-carousel{
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 576px) {
  .c-carousel{
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .c-carousel{
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1100px) {
  .c-carousel{
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}

@media (min-width: 360px) {
  .c-assortiment__titel{
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .c-assortiment__titel{
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .c-assortiment__titel{
    margin-bottom: 2rem;
  }
}
@media (min-width: 1100px) {
  .c-assortiment__titel{
    margin-bottom: 3rem;
  }
}

@media (min-width: 360px) {
  .c-assortiment__buttonwrap{
    margin-top: .4rem;
  }
}

@media (min-width: 576px) {
  .c-assortiment__buttonwrap{
    margin-top: .6rem;
  }
}

@media (min-width: 768px) {
  .c-assortiment__buttonwrap{
    margin-top: .8rem;
  }
}
@media (min-width: 1100px) {
  .c-assortiment__buttonwrap{
    margin-top: 1rem;
  }
}
@media (min-width: 360px) {
  .c-opening{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 576px) {
  .c-opening{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

@media (min-width: 768px) {
  .c-opening{
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
@media (min-width: 1100px) {
  .c-opening{
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}

@media (min-width: 360px) {
  .c-promo{
    margin-top: 3rem;
    margin-bottom: 0rem;
    padding: 0;
  }
}

@media (min-width: 576px) {
  .c-promo{
    margin-top: 6rem;
    margin-bottom: 0rem;
  }
}

@media (min-width: 768px) {
  .c-promo{
    margin-top: 8rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 1100px) {
  .c-promo{
    margin-top: 10rem;
    margin-bottom: 6rem;
  }
}
@media (min-width: 360px) {
  .c-assortiment__header{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .c-assortiment__header{
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .c-assortiment__header{
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1100px) {
  .c-assortiment__header{
    margin-top: 8rem;
    margin-bottom: 6rem;
  }
}


@media (min-width: 360px) {
  .c-vragen{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .c-vragen{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .c-vragen{
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1100px) {
  .c-vragen{
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
}


@media (min-width: 360px) {
  .c-contact{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .c-contact{
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .c-contact{
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1100px) {
  .c-contact{
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
}

@media (min-width: 360px) {
  .c-openingsuren{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .c-openingsuren{
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .c-openingsuren{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1100px) {
  .c-openinsuren{
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
}


@media (min-width: 360px) {
  .c-patisserie__titel{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 576px) {
  .c-patisserie__titel{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .c-patisserie__titel{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1100px) {
  .c-patisserie__titel{
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
}




